div.login-page {
  height: 100vh;
  width: 100vw;
}

div.login-page fieldset {
  width: fit-content;
  height: fit-content;
}

div.login-page .login-form {
  padding: 40px 32px;
}

div.login-page .login-form .header-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

div.login-page .login-form .header-form img {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

div.login-page .login-form .header-form strong {
  font-size: 50px;
  color: #212121;
}

div.login-page .login-form .input-form {
  display: flex;
  flex-direction: column;
}

div.login-page .login-form .input-form span {
  font-size: 14px;
  color: #212121;
  font-weight: 600;
  margin: 12px 0 4px 0;
}

div.login-page .login-form .input-form span:first-child {
  margin-top: 0;
}

div.login-page .login-form .input-form input {
  width: 384px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #424242;
  padding-left: 8px;
  transition: 0.2s;
}

div.login-page .login-form .input-form input:hover {
  opacity: 0.7;
}

div.login-page .login-form .input-form button {
  width: 384px;
  height: 40px;
  margin-top: 32px;
  background: #212121;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}

div.login-page .login-form .input-form button:hover {
  opacity: 0.9;
}
