.profile {
  background: rgba(0, 0, 0, 0.5);
  padding: 100px 0;
  margin: 0 auto;
}

.profile .profile-container {
  background: #fff;
  width: 1000px;
  height: 500px;
  margin: auto;
}

.profile .profile-container .profile-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile .profile-container .profile-content .avatar-content {
  margin-top: 4px;
}

.profile .profile-container .profile-content .avatar-content img {
  width: 500px;
  height: 500px;
}

.profile .profile-container .profile-content .side-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.profile .profile-container .profile-content .side-content .middle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile .profile-container .profile-content .side-content .middle .bio {
  margin-top: 15px;
}

.profile .profile-container .profile-content .side-content .middle .bio h1 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.profile .profile-container .profile-content .side-content .middle .bio h2 {
  font-size: 16px;
  font-weight: normal;
  color: #212121;
  margin-top: 10px;
}

.profile .profile-container .profile-content .side-content .middle .bio strong {
  font-size: 16px;
  font-weight: 600;
  color: #212121;
  margin-top: 24px;
}

.profile .profile-container .profile-content .side-content .middle .bio  span {
  font-size: 16px;
  font-weight: normal;
  color: #212121;
  margin-top: 10px;
}

.profile .profile-container .profile-content .side-content .middle .profile-footer {
  margin-top: 160px;
}

.profile .profile-container .profile-content .side-content .middle .profile-footer button {
  margin-right: 16px;
  border: 0;
  background: unset;
  cursor: pointer;
}

.profile .profile-container .profile-content .side-content .close-modal a {
  transition: 0.2s;
  margin-right: 21px;
  border: 0;
  background: none;
  cursor: pointer;
}

.profile .profile-container .profile-content .side-content .close-modal a:hover {
  opacity: 0.7;
}

.profile .profile-container .profile-content .side-content .bio {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .profile {
    padding: 140px 20px;
    margin: 0;
  }

  .profile .profile-container {
    width: 435px;
    height: 258px;
  }

  .profile .profile-container .profile-content {
    display: flex;
    align-items: center;
  }

  .profile .profile-container .profile-content .avatar-content {
    margin-top: 5px;
  }

  .profile .profile-container .profile-content .avatar-content img {
    width: 229px;
    height: 259px;
  }

  .profile .profile-container .profile-content .side-content .middle {
    margin-left: 10px;
  }

  .profile .profile-container .profile-content .side-content .middle .bio h1 {
    font-size: 12px;
  }

  .profile .profile-container .profile-content .side-content .middle .bio h2 {
    font-size: 8px;
    margin-top: 3px;
  }

  .profile .profile-container .profile-content .side-content .middle .bio strong {
    font-size: 8px;
    margin-top: 5px;
  }

  .profile .profile-container .profile-content .side-content .middle .bio  span {
    font-size: 8px;
    margin-top: 3px;
  }

  .profile .profile-container .profile-content .side-content .middle .profile-footer {
    margin-top: 30px;
  }

  .profile .profile-container .profile-content .side-content .middle .profile-footer button img {
    width: 10px;
    height: 10px;
  }

  .profile .profile-container .profile-content .side-content .middle .profile-footer a img {
    width: 10px;
    height: 10px;
  }

  .profile .profile-container .profile-content .side-content .close-modal a img {
    width: 10px;
    height: 10px;
    margin-left: 105px;
  }
}
