.update-naver-page {
  padding: 0;
}

.update-naver-page .update-naver-container {
  margin-top: 100px;
}

.update-naver-page .update-naver-container .update-naver-top-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
}

.update-naver-page .update-naver-container .update-naver-top-content .update-naver-top-content-img {
  width: 19px;
  height: 19px;
}

.update-naver-page .update-naver-container .update-naver-top-content .update-naver-top-content-h2 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 22px;
}

.update-naver-page .update-naver-container .update-naver-middle-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column {
  margin-right: 32px;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column .update-naver-first-column-ul .update-naver-first-column-ul-li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column .update-naver-first-column-ul .update-naver-first-column-ul-li .update-naver-first-column-ul-li-span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column .update-naver-first-column-ul .update-naver-first-column-ul-li .update-naver-first-column-ul-li-input {
  width: 280px;
  height: 40px;
  background: #fff;
  font-size: 16px;
  padding-left: 8px;
  border: 1px solid #424242;
  margin-bottom: 12px;
  transition: 0.2s;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column .update-naver-first-column-ul .update-naver-first-column-ul-li .update-naver-first-column-ul-li-input:hover {
  opacity: 0.7;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-second-column .update-naver-second-column-ul .update-naver-second-column-ul-li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-second-column .update-naver-second-column-ul .update-naver-second-column-ul-li .update-naver-second-column-ul-li-span  {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-second-column .update-naver-second-column-ul .update-naver-second-column-ul-li .update-naver-second-column-ul-li-input {
  width: 280px;
  height: 40px;
  background: #fff;
  font-size: 16px;
  padding-left: 8px;
  border: 1px solid #424242;
  margin-bottom: 12px;
  transition: 0.2s;
}

.update-naver-page .update-naver-container .update-naver-middle-content .update-naver-second-column .update-naver-second-column-ul .update-naver-second-column-ul-li .update-naver-second-column-ul-li-input:hover {
  opacity: 0.7;
}

.update-naver-page .update-naver-container .update-naver-footer-content {
  display: flex;
  justify-content: flex-end;
}

.update-naver-page .update-naver-container .update-naver-footer-content .update-naver-footer-content-button {
  width: 176px;
  height: 40px;
  background: #212121;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}

.update-naver-page .update-naver-container .update-naver-footer-content .update-naver-footer-content-button:hover {
  opacity: 0.9;
}

@media (max-width: 700px) {
  .update-naver-page .update-naver-container {
    padding: 100px 0;
  }

  .update-naver-page .update-naver-container .update-naver-middle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column {
    margin-right: 0;
  }

  .update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column .update-naver-second-column-ul .update-naver-second-column-ul-li .update-naver-second-column-ul-li-span  {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .update-naver-page .update-naver-container .update-naver-middle-content .update-naver-first-column .update-naver-first-column-ul .update-naver-first-column-ul-li .update-naver-first-column-ul-li-input {
    height: 38px;
    font-size: 14px;
    margin-bottom: 18px;
  }

  .update-naver-page .update-naver-container .update-naver-middle-content .update-naver-second-column .update-naver-second-column-ul .update-naver-second-column-ul-li .update-naver-second-column-ul-li-span  {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .update-naver-page .update-naver-container .update-naver-middle-content .update-naver-second-column .update-naver-second-column-ul .update-naver-second-column-ul-li .update-naver-second-column-ul-li-input {
    height: 38px;
    font-size: 14px;
    margin-bottom: 18px;
  }

  .update-naver-page .update-naver-container .update-naver-footer-content {
    justify-content: center;
  }

  .update-naver-page .update-naver-container .update-naver-footer-content .update-naver-footer-content-button {
    width: 270px;
    height: 38px;
  }
}

