.warning-update-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.warning-update-modal .warning-update-modal-container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  width: 592px;
  height: 160px;
  margin: auto 0;
  padding: 0;
}

.warning-update-modal .warning-update-modal-container .text-content-update {
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 32px;
}

.warning-update-modal .warning-update-modal-container .text-content-update .update-strong {
  font-size: 24px;
  font-weight: 600;
}

.warning-update-modal .warning-update-modal-container .text-content-update .update-span {
  font-size: 16px;
  font-weight: normal;
  margin-top: 24px;
}

.warning-update-modal .warning-update-modal-container .close-modal .close-modal-button {
  border: 0;
  background: none;
  display: flex;
  justify-content: flex-end;
  margin: 29px 29px 0 0;

  transition: 0.2s;
}

.warning-update-modal .warning-update-modal-container .close-modal .close-modal-button {
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .warning-update-modal {
    height: 200%;
    width: 102%;
  }

  .warning-update-modal .warning-update-modal-container {
    width: 400px;
    height: 160px;
  }

  .warning-update-modal .warning-update-modal-container .text-content-update {
    margin: 18px 0 0 18px;
  }

  .warning-update-modal .warning-update-modal-container .text-content-update .update-strong {
    font-size: 16px;
  }

  .warning-update-modal .warning-update-modal-container .text-content-update .update-span {
    font-size: 12px;
  }
}
